{% extends "index.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block meta_main %}
<div class="header-menu">
    <div class="container auth">
        <h1 class="auth-header">{% trans "Change Password" %}</h1> 

        <form class="login form-horizontal" method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {% for _, error in form.errors.items %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_password">Current Password:</label>
                <div class="col-sm-6">
                    <input name="oldpassword" placeholder="Password" type="password" class="input-xlarge form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_password">New Password:</label>
                <div class="col-sm-6">
                    <input id="id_password1" name="password1" placeholder="Password" type="password" class="input-xlarge form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_remember">Password Confirm:</label>
                <div class="col-sm-6">
                    <input id="id_password2" name="password2" placeholder="Password confirm" type="password" class="input-xlarge form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="primaryAction btn btn-success">{% trans "Change Password" %}</button>
                </div>
            </div>
        </form>
   	</div>
</div>
{% endblock %}
