{% extends "index.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block meta_main %}
<div class="header-menu">
    <div class="container auth">
        <h1 class="auth-header">{% trans "Change Password" %}</h1> 
    	<p class="auth-text">{% trans 'Your password is now changed.' %}</p>
        <p style="margin: 10px;">
            <a href="/accounts/login/">Proceed to login</a>
        </p>    	
	</div>
</div>
{% endblock %}
