{% extends "index.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block meta_main %}
<div class="header-menu">
    <div class="container auth">
    <h1 class="auth-header">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="auth-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <form method="POST" action="." class="password_reset form-horizontal login">
            {% csrf_token %}
            {% for _, error in form.errors.items %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <div class="form-group m-t-15">
                <label class="control-label col-sm-2" for="id_password">Password:</label>
                <div class="col-sm-6">
                    <input id="id_password1" name="password1" placeholder="Password" type="password" class="input-xlarge form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="id_remember">Password Confirm:</label>
                <div class="col-sm-6">
                    <input id="id_password2" name="password2" placeholder="Password confirm" type="password" class="input-xlarge form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="primaryAction btn btn-success btn-sm">{% trans "Change Password" %}</button>
                </div>
            </div>
        </form>
        {% else %}
            <p class="auth-text">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
</div>
{% endblock %}
