.title_page {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #4dbee2;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    word-spacing: -4px;
    padding: 10px;
    margin: 50px 0px;
    font-weight: 400;
}
.content{
	font-size: 16px;
    line-height: 29px;
    color: #333;
    max-width: 880px;
    /*padding: 0px 20px 0px;*/
    margin: 0px auto 130px;
    min-width: 150px;	
}