{% load extra %}
<div class="row">
    <div class="col-md-4">
        <div class="form-group edit-profile">
            <label>Make / Manufacture</label>
            <input type="text" name="make" class="form-control edit-post-wrap" required value="{{ post.make }}" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group edit-profile">
            <label>Model name / number</label>
            <input type="text" name="model" class="form-control edit-post-wrap" required value="{{ post.model }}" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group edit-profile">
            <label>Condition</label>
            <select name="condition" class="form-control edit-post-wrap" required>
                <option value="">-</option>
                <option value="new" {% if post.condition == "new" %}selected{% endif %}>new</option>
                <option value="like new" {% if post.condition == "like new" %}selected{% endif %}>like new</option>
                <option value="excellent" {% if post.condition == "excellent" %}selected{% endif %}>excellent</option>
                <option value="good" {% if post.condition == "good" %}selected{% endif %}>good</option>
                <option value="fair" {% if post.condition == "fair" %}selected{% endif %}>fair</option>
                <option value="salvage" {% if post.condition == "salvage" %}selected{% endif %}>salvage</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group edit-profile">
            <label>Mobile OS</label>
            <select name="mobile_os" class="form-control edit-post-wrap" required>
                <option value="">-</option>
                <option value="android" {% if post.mobile_os == "android" %}selected{% endif %}>android</option>
                <option value="apple iOS" {% if post.mobile_os == "apple iOS" %}selected{% endif %}>apple iOS</option>
                <option value="blackberry" {% if post.mobile_os == "blackberry" %}selected{% endif %}>blackberry</option>
                <option value="windows mobile" {% if post.mobile_os == "windows mobile" %}selected{% endif %}>windows mobile</option>
                <option value="other" {% if post.mobile_os == "other" %}selected{% endif %}>other</option>                
            </select>
        </div>
    </div>    
    <div class="col-md-3">
        <div class="form-group edit-profile">
            <label>Cryptocurrency ok</label>
            <input type="checkbox" name="cryptocurrency_ok" class="edit-post-wrap" style="display: block;" {% if post.cryptocurrency_ok %} checked="" {% endif %}>
        </div>
    </div>
</div>
