<div class="row">
    <div class="col-md-6">
        <div class="form-group edit-profile">
            <label>event start date</label>
            <input type="text" class="form-control edit-post-wrap cl_datepicker" name="start_day" required="" value="{{ post.start_day }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group edit-profile">
            <label>event duration</label>
            <input type="number" class="form-control edit-post-wrap" name="duration" required="" value="{{ post.duration }}">
        </div>
    </div>
</div>