{% load extra %}
<div class="row">
    <div class="col-md-3">
        <div class="form-group edit-profile">
            <label>ft<sup>2</sup></label>
            <div class="clearfix"></div>
            <div class="col-sm-6">
            <input type="number" name="area__gte" class="form-control edit-post-wrap" placeholder="Min area" min="0">
            </div>
            <div class="col-sm-6">
            <input type="number" name="area__lte" class="form-control edit-post-wrap" placeholder="Max area" min="0">
            </div>
        </div>
    </div>
</div>
