<!DOCTYPE html>
<html lang="en-GB">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Global Board &#8211; View ads from all over the World</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />

    <link rel='stylesheet' id='contact-form-7-css' href='/static/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='userpro_google_font-css' href='/static/css/google-font-1.css' type='text/css' media='all' />
    <link rel='stylesheet' id='userpro_min-css' href='/static/plugins/userpro/css/userpro.min.css' type='text/css' media='all' />
<!--     <link rel='stylesheet' id='userpro_lightview-css' href='/static/plugins/userpro/css/lightview/lightview.css' type='text/css' media='all' />
    <link rel='stylesheet' id='userpro_jquery_ui_style-css' href='/static/plugins/userpro/css/userpro-jquery-ui.css' type='text/css' media='all' />
    <link rel='stylesheet' id='userpro_skin_min-css' href='/static/plugins/userpro/skins/elegant/style.css' type='text/css' media='all' />
 -->    <link rel='stylesheet' id='bootstrap-css' href='/static/css/bootstrap-3.3.6-dist/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='/static/css/font-awesome-4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='globoard-fonts-css' href='/static/css/fonts/font.css' type='text/css' media='all' />
    <link rel='stylesheet' id='select-2-css' href='/static/css/select2.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ammap-css' href='/static/css/ammap.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='/static/css/style.css?262' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/extra.css?12' type='text/css' />

    <script type='text/javascript' src='/static/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/static/js/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery/jquery-migrate.min.js'></script>
    <!--[if lt IE 9]>
<script type='text/javascript' src='/static/js/html5.js'></script>
<![endif]-->
    <script type='text/javascript' src='/static/css/bootstrap-3.3.6-dist/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/static/js/select2.min.js'></script>
    <script type='text/javascript' src='/static/js/ammap.js'></script>
    <script type='text/javascript' src='/static/js/worldLow.js'></script>
    <script type='text/javascript' src='/static/js/black.js'></script>
    <script type='text/javascript' src='/static/js/main_map.js'></script>
    <script type='text/javascript' src='/static/js/customscript.js?v=5'></script>
    <script type='text/javascript' src="/static/js/jquery-ui.js"></script>
    <!-- <script type='text/javascript' src='/static/plugins/userpro/addons/social/scripts/userpro-social.min.js'></script> -->

    {% block extra_css %} 
    {% endblock %}

</head>

<body class="home page-template page-template-page-home page-template-page-home-php page page-id-4 wp-custom-logo">
    {% block page_content %} 
    {% endblock %}

    <script type='text/javascript' src='/static/plugins/contact-form-7/includes/js/jquery.form.min.js'></script>
    <script type='text/javascript' src='/static/plugins/contact-form-7/includes/js/scripts.js'></script>
    <script type='text/javascript' src='/static/js/jquery/ui/core.min.js'></script>
<!--     <script type='text/javascript' src='/static/plugins/userpro/scripts/swfobject.js'></script>
    <script type='text/javascript' src='/static/plugins/userpro/scripts/spinners/spinners.min.js'></script>
    <script type='text/javascript' src='/static/plugins/userpro/scripts/lightview/lightview.js'></script>
    <script type='text/javascript' src='/static/plugins/userpro/scripts/scripts.js'></script>
    <script type='text/javascript' src='/static/plugins/userpro/scripts/performance.js'></script>
 -->
    {% block extra_js %} 
    {% endblock %}
</body>

</html>