<!-- <ul class='country-list {{ css_class }}'>
    {% for country in countries %}
        <li>
            <a href="/profile#countries/{{ country.sortname|lower }}/{{ country.sortname|lower }}-all" class="show_country" data-country="{{ country.sortname }}">{{ country.name }}</a>
        </li>
    {% endfor %}
</ul> -->
<!-- ddev+co\n -->
<div class="col-md-4 col-xs-12">
	<select class='country-list form-control' id="country_list">
		<option>-- Please Select Country --</option>
	    {% for country in countries %}
		    <option value="/profile#countries/{{ country.sortname|lower }}/{{ country.sortname|lower }}-all" style="word-break: break-word;">
		    	{{ country.name }}
		    </option>
		{% endfor %}
	</select>
</div>