{% if messages %}
    {% for message in messages %}
            <div class="reply-post message-box no-padding col-md-12 col-xs-12" style="padding: 15px; margin-top: 20px; line-height: 2.2">
                <div class="col-md-2 col-xs-4" style="text-align: center;">
                    <a href="/user_show/{{ message.client.id }}">
                        <img src="/static/media/avatar/{{ message.client.avatar }}" width="40" height="40" class="profile_image">
                    </a>
                    {% if message.new %}
                        <span class="badge" style="margin-top: -2px; background-color: red">New</span>
                    {% endif %}
                </div>
                <div  class="col-md-6 col-xs-8">
                    <a href="/ads-message/{{message.post.id}}/{{ message.client.id }}" style="font-size: 18px">
                        {{ message.client.first_name }} {{ message.client.last_name }} - 
                        {{ message.post.title }}
                    </a>
                </div>
                <div class="status_controls col-md-4 col-xs-12">
                    <a href="javascript:void(0);" style="padding: 5px;" data-id="{{message.client.id}}" class="turn_archieve pull-right" data-post-id="{{message.post.id}}">
                        {% if message.archieve %}
                            Unarchieve
                        {% else %}
                            Archieve
                        {% endif %}
                    </a>
                    <a href="javascript:void(0);" style="padding: 5px;" class="turn_star pull-right" data-id="{{message.client.id}}" data-post-id="{{message.post.id}}">
                        {% if message.starred %}
                            Unstar
                        {% else %}
                            Star
                        {% endif %}
                    </a>
                </div>
            </div>
    {% endfor %}
{% endif %}


{% block own_js %}
<script type="text/javascript">

    jQuery('.turn_star').click(function(e) {
        jQuery.ajax({
            type: 'get',
            url: '/turn_status',
            data: {
                    client_id: $(this).data('id'),
                    status : 'starred',
                    post_id : $(this).data('post-id')
                },
            success: function (data) {
                location.reload(true);
            }
        });                     
    });

    jQuery('.turn_archieve').click(function(e) {
        jQuery.ajax({
            type: 'get',
            url: '/turn_status',
            data: {
                    client_id: $(this).data('id'),
                    status : 'archieve',
                    post_id : $(this).data('post-id')
                },
            success: function (data) {
                location.reload(true);
            }
        });                     
    });

</script>
{% endblock %}