{% load extra %}
{% load humanize %}

<div id="purchases_laptop">
    <div class="row" style="font-size: 18px; color: #4DBEE2; margin-top: 10px;">
        <div class="col-md-3 col-xs-3">Date</div>
        <div class="col-md-3 col-xs-2">Category</div>
        <div class="col-md-4 col-xs-2">Detail</div>
        <div class="col-md-2 col-xs-2">Total Amount</div>
    </div>
    <hr>
    {% if dpurchases %}
    {% for purchase in dpurchases %}
        <div class="row" style="font-size: 17px;">
            <div class="col-md-3 col-xs-2">{{ purchase.date|date:"M d, Y" }}</div>
            <div class="col-md-3">{{ purchase.category}}</div>
            <div class="col-md-4 col-xs-3">
                <a href="/ads/{{ purchase.post_id }}"  style="color : red">{{ purchase.post_title }}</a>
                <div style="margin-top: 5px;">{{ purchase.transaction }}</div>
            </div>
            <div class="col-md-2 col-xs-2"  style="color : red">${{ purchase.total_amount|floatformat:2|intcomma }}</div>
        </div>
        <hr>
    {% endfor %}                    
    {% else %}
        <div class="row" style="font-size: 18px;">
            <div class="col-md-4">No record</div>
        </div>
        <hr>
    {% endif %}
</div>

<div id="purchases_mobile">
    {% if dpurchases %}
    {% for purchase in dpurchases %}
        <div class="row" style="font-size: 17px; line-height: 21px">
            <div class="row">
                <div class="col-xs-6 purchase_title">Purchased Date</div>
                <div class="col-xs-6">{{ purchase.date|date:"M d, Y" }}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 purchase_title">Category</div>
                <div class="col-xs-6">{{ purchase.category }}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 purchase_title">Detail</div>
                <div class="col-xs-6">
                    <a href="/ads/{{ purchase.post_id }}" style="color : red">{{ purchase.post_title }}</a>
                    <div style="margin-top: 5px;word-break: break-word;">{{ purchase.transaction }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 purchase_title">Total Amount</div>
                <div class="col-xs-6"  style="color : red;">${{ purchase.total_amount|floatformat:2|intcomma}}</div>
            </div>
        </div>
        <hr>
    {% endfor %}                    
    {% else %}
        <div class="row" style="font-size: 18px;">
            <div class="col-md-4">No record</div>
            <hr>
        </div>
    {% endif %}
</div>

{% block own_js %}

<script>
    jQuery(document).ready(function() {
        $(".btn-finished").click(function() {
            alert('The details will be added soon.')
        });
    });
</script>

{% endblock %}