{% load extra %}
{% load humanize %}

<div id="purchases_laptop">
    <div class="row" style="font-size: 18px; color: #4DBEE2; margin-top: 10px;">
        {% comment %}
            <div class="col-md-2">Title</div>
            <div class="col-md-1">Price</div>
            <div class="col-md-1">Service Fee</div>
            <div class="col-md-1">Total Amount</div>
            <div class="col-md-1">Paid Amount</div>
            <div class="col-md-1">Paid Service Fee</div>
            <div class="col-md-1">Total Paid Amount</div>
            <div class="col-md-1">Refund Amount</div>
            <div class="col-md-1">Payment Type</div>
            <div class="col-md-2">Cancelled Date</div>
        {% endcomment %}
        <div class="col-md-6">Title</div>
        <div class="col-md-6">Cancelled Date</div>
    </div>
    <hr>
    {% if cpurchases %}
    {% for purchase in cpurchases %}
        <div class="row" style="font-size: 17px;">
            {% comment %}
                <div class="col-md-2 col-xs-2"><a href="/ads/{{ purchase.post_id }}" style="color : red">{{ purchase.post_title }}</a></div>
                <div class="col-md-1 col-xs-2">${{ purchase.post_price|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-2">${{ purchase.total_service_fee|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-2">${{ purchase.total_amount|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-2">${{ purchase.paid_amount|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-2" >${{ purchase.service_fee|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-2" style="color : red">${{ purchase.approved|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-2">${{ purchase.refund_amount|floatformat:2|intcomma }}</div>
                <div class="col-md-1 col-xs-1">{{ purchase.type|title }}</div>
                <div class="col-md-2 col-xs-1">{{ purchase.date|date:"M d, Y" }}</div>
                <div class="col-md-2 col-xs-2">
                    {% if purchase|can_rate %}
                        <button class="btn btn-warning btn-rate-later" data-id="{{ purchase.id }}" data-transaction="{{ purchase.transaction }}" data-post-id="{{ purchase.post_id }}">Rate</button>
                    {% endif %}
                </div>
            {% endcomment %}
            <div class="col-md-6"><a href="/ads/{{ purchase.post_id }}" style="color : red">{{ purchase.post_title }}</a></div>
            <div class="col-md-6">{{ purchase.date|date:"M d, Y" }}</div>
        </div>
        <hr>
    {% endfor %}                    
    {% else %}
        <div class="row" style="font-size: 18px;">
            <div class="col-md-4">No record</div>
        </div>
        <hr>
    {% endif %}
</div>

<div id="purchases_mobile">
    {% if cpurchases %}
    {% for purchase in cpurchases %}
        {% comment %}
            <div class="row" style="font-size: 17px;">
                <div class="row">
                    <div class="col-xs-6 purchase_title">Title</div>
                    <div class="col-xs-6"><a href="/ads/{{ purchase.post_id }}" style="color : red">{{ purchase.post_title }}</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Price</div>
                    <div class="col-xs-6">${{ purchase.post_price|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Service Fee</div>
                    <div class="col-xs-6">${{ purchase.total_service_fee|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Total Amount</div>
                    <div class="col-xs-6">${{ purchase.total_amount|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Paid Amount</div>
                    <div class="col-xs-6">${{ purchase.paid_amount|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Paid Service Amount</div>
                    <div class="col-xs-6">${{ purchase.service_fee|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title" >Total Paid Amount</div>
                    <div class="col-xs-6" style="color : red" >${{ purchase.approved|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Refund Amount</div>
                    <div class="col-xs-6">${{ purchase.refund_amount|floatformat:2|intcomma }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Payment Type</div>
                    <div class="col-xs-6">{{ purchase.type|title }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Cancelled Date</div>
                    <div class="col-xs-6">{{ purchase.date|date:"M d, Y" }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {% if purchase|can_rate %}
                            <button class="btn btn-warning btn-rate-later" data-id="{{ purchase.id }}" data-transaction="{{ purchase.transaction }}" data-post-id="{{ purchase.post.id }}">Rate</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endcomment %}
        <div class="row" style="font-size: 17px;">
                <div class="row">
                    <div class="col-xs-6 purchase_title">Title</div>
                    <div class="col-xs-6"><a href="/ads/{{ purchase.post_id }}" style="color : red">{{ purchase.post_title }}</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 purchase_title">Cancelled Date</div>
                    <div class="col-xs-6">{{ purchase.date|date:"M d, Y" }}</div>
                </div>
            </div>
        <hr>
    {% endfor %}                    
    {% else %}
        <div class="row" style="font-size: 18px;">
            <div class="col-md-4">No record</div>
            <hr>
        </div>
    {% endif %}
</div>