{% extends "profile.html" %} 
{% load staticfiles %} 
{% load humanize %}
{% load extra %}

{% block own_css %}
<link href="/static/star-rating/star-rating.css" rel="stylesheet">
<link href="/static/slick-1.8.0/slick/slick.css" rel="stylesheet">
<link href="/static/slick-1.8.0/slick/slick-theme.css" rel="stylesheet">
{% endblock %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">
        <div class="content-right-content ad-view">
            <!-- <nav class="breadcrumb">
              <a class="breadcrumb-item" href="/profile/">worldwide<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              {% if post.region %}
              <a class="breadcrumb-item" href="#">{{ post.region.state.country.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              <a class="breadcrumb-item" href="#">{{ post.region.state.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              <a class="breadcrumb-item" href="#">{{ post.region.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              {% endif %}
              <span class="breadcrumb-item active">{{ post.category.name }}</span>
            </nav> -->

            <div class="main-product">
                <div class="col-md-4" style="border: 1px solid #ddd;padding: 20px 10px; margin: 10px;"> 
                    <div class="col-md-12">
                        <div class="col-md-12 no-padding">
                            <a href="/ads/{{ post.id }}">
                                <h4 style="font-size: 22px; color: black; line-height: 24px;">{{ post.title }}</h4>
                            </a>
                        </div>
                        <div class="col-md-12 no-padding" style="margin-top: 16px;">
                            <div class="col-md-10 no-padding" style="margin-bottom: 15px;">Posted on {{ post.created_at }}</div>
                            <!-- {% if user != post.owner %}
                            <div class="col-md-2 no-padding favourite {% if favourite %} like {% endif %}">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span>Favourite</span>
                            </div>                    
                            {% endif %}         -->           
                        </div>                
                    </div>
                    <div class="col-md-12">
                        <div class="product-img col-md-12" style="margin-bottom: 15px;">
                            <!-- <a href="/ads/{{ post.id }}"> -->
                            {% if post.images.all %}
                                {% for img in post|head_sort_images %}
                                    <img class="img-responsive" src="/static/media/{{ img.name }}" alt="">
                                {% endfor %}
                            {% else %}
                                <img class="img-responsive" src="/static/media/dummy.jpg" alt="">
                            {% endif %}
                            <!-- </a> -->
                        </div>
                        {% if post.images.all %}
                            <div class="product-img-nav col-md-12" style="margin-bottom: 42px;">
                                {% for img in post.images.all %}
                                    <img class="slick-thumb" src="/static/media/{{ img.name }}" alt="">
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        {% if post.category.form == 'ShortTermPost' %}
                        <div class="col-md-7 col-md-offset-2 cart m-t-20" style="border: solid 1px #aaa; padding: 15px;">
                            <h4 style="margin: 20px auto;"><span style="font-size: 28px;font-weight: 500;">${{ post.price|floatformat:2|intcomma }}</span> per night</h4>
                            <hr>

                            <h5>Dates</h5>
                            <div class="col-sm-6">
                                <input type="text" name="check_in" class="form-control date-checkin edit-post-wrap cl_datepicker" required placeholder="Check In" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="check_out" class="form-control date-checkout edit-post-wrap cl_datepicker" required placeholder="Check Out" />
                            </div>
                            <div class="clearfix"></div>

                            <h5 class="m-t-15">Guests</h5>
                            <div class="col-md-12">
                                <div class="form-group edit-profile">
                                    <span class="num-guests form-control edit-post-wrap" style="padding-top: 10px;" /><span class="cnt-guests">1</span> guest(s)</span>
                                </div>
                            </div>

                            <div class="guests-detail hidden">
                                {% if post.num_adults %}
                                <div class="col-md-12">
                                    <div class="form-group edit-profile">
                                        <label>Adults</label>
                                        <select id="num_adults" class="form-control edit-post-wrap" required>
                                            {% for ii in 1|rangee:post.num_adults %}
                                                <option value="{{ ii }}">{{ ii }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if post.num_children %}
                                <div class="col-md-12">
                                    <div class="form-group edit-profile">
                                        <label>Children</label>
                                        <select id="num_children" class="form-control edit-post-wrap" required>
                                            {% for ii in 0|rangee:post.num_children %}
                                                <option value="{{ ii }}">{{ ii }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if post.num_infants %}
                                <div class="col-md-12">
                                    <div class="form-group edit-profile">
                                        <label>Infants</label>
                                        <select id="num_infants" class="form-control edit-post-wrap" required>
                                            {% for ii in 0|rangee:post.num_infants %}
                                                <option value="{{ ii }}">{{ ii }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                            <div class="form-group edit-profile">
                                <div class="edit-post-wrap" style="padding-top: 10px;">
                                    ${{ post.price|floatformat:2|intcomma }} x <span class="num-days">-</span> nights
                                    <span class="pull-right net-price">--</span>
                                </div>
                            </div>
                            <div class="form-group edit-profile">
                                <div class="edit-post-wrap" style="padding-top: 10px;">
                                    Service fee
                                    <span class="pull-right service-fee">${{ post.service_fee|floatformat:2|intcomma }}</span>
                                </div>
                            </div>

                            <h4>Total<span class="pull-right total-price">--</span></h4>
                            <input class="btn btn-info btn-payment form-control" type="button" value="Request to Book" style="font-weight: 600;font-size: 18px;height: 46px; margin-top: 20px;">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12" style="border-top: 1px solid #ddd;">
                        <div class="col-md-12 no-padding" style="margin-top: 18px;">
                            <!-- <div class="star-profile">
                                <div class="col-md-12 no-padding">
                                    <a href="/user_show/{{ post.owner.id }}">
                                        <img src="/static/media/avatar/{{ post.owner.avatar }}" width="50" height="50">
                                    </a>
                                    <div class="star-profile-name">
                                        <a href="/user_show/{{ post.owner.id }}" class="username_on_detail" style="height: 20px;">{{ post.owner.first_name }} {{ post.owner.last_name }}</a>
                                        <input class="rating-owner" value="{{ post.owner|rating }}"/>
                                    </div>
                                </div>
                            </div> -->
                            <div class="star-profile">
                                <div class="col-md-12 no-padding">
                                    <a href="/user_show/{{ client.id }}">
                                        <img src="/static/media/avatar/{{ client.avatar }}" width="50" height="50">
                                    </a>
                                    <div class="star-profile-name">
                                        <a href="/user_show/{{ client.id }}" class="username_on_detail" style="height: 20px;">{{ client.first_name }} {{ client.last_name }}</a>
                                        <input class="rating-owner" value="{{ client|rating }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- <div class="main-product-info">
                            <div class="product-location-info">
                                <div class="detail-item">
                                    <span>Country</span>
                                    {% if post.region %}
                                        <h6>{{ post.region.state.country.name }}</h6>
                                    {% else %}
                                        <h6>Global</h6>
                                    {% endif %}
                                </div>
                                <div class="detail-item">
                                    <span>Category</span>
                                    <h6>{{ post.category.parent.name }} / {{ post.category.name }}</h6>
                                </div>
                                {% if post.price and post.category.form != 'ShortTermPost' %}
                                <div class="detail-item">
                                    <span>Price</span>
                                    <h6><b>${{ post.price|floatformat:2|intcomma }}</b></h6>
                                </div>
                                <div class="detail-item">
                                    <span>Reviews</span>
                                    <h6>{{ reviews }}</h6>
                                </div>
                                {% endif %}
                                <div class="detail-item" style="display: block">
                                    <span>Description</span>
                                    <h6 style="margin-top : 10px;">{{ post.content }}</h6>
                                </div>
                            </div>
                        </div> -->
                        <div class="main-product-info">
                            <div class="product-location-info">
                                <div class="detail-item">
                                    <span>Address</span>
                                    <h6>{{ client.address }}</h6>
                                </div>
                                <div class="detail-item">
                                    <span>Reviews</span>
                                    <h6>{{ reviews }}</h6>
                                </div>
                                <div class="detail-item" style="display: block">
                                    <span>Description</span>
                                    <h6 style="margin-top : 10px;">{{ client.description }}</h6>
                                </div>
                            </div>
                        </div>
                        {% if post.price and post.owner != user and post.category.form != 'ShortTermPost' %}
                        <div class="row">
                            <form action="{% url 'view-ads' post.id %}" method="get" class="ads-pay-form">
                                <input type="hidden" name="activated">
                                <input class="btn btn-info btn-payment pull-right" type="submit" value="Purchase" style="width: 100px;">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-7" style="padding: 15px;">
                    <div class="message-form">
                        <div class="reply-post col-md-8 col-md-offset-2 col-xs-12 no-padding" style="padding: 0px;">
                            <textarea id="reply-body"></textarea>
                            <button class="btn btn-default pull-right" id="send_remail" style="margin-top: 10px; background-color: #5bc0de; color: white; border-color: #5bc0de">Send</button>
                        </div>
                        <div class="col-md-1 hidden-phone" style="text-align-last: center;">
                            <a href="/user_show/{{ me.id }}">
                                <img src="/static/media/avatar/{{ me.avatar }}" width="50" height="50" class="profile_image">
                            </a>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #ddd; margin: 20px 0px;" class="col-md-12 col-xs-12"></div>
                    <div class="message-history" id="message-history" style="margin-top: 30px; overflow-y: scroll; overflow-x: hidden; max-height : 400px; width: 100%">
                        <i class="fa fa-angle-up" id="to_top"></i>
                        <div id="new-msg"></div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="row" style="margin : 15px 0px;">
                                {% if message.customer_from == client and message.customer_to == me %}
                                    <div class="col-md-2 col-xs-2 no-padding" style="text-align: left;">
                                        <a href="/user_show/{{ message.customer_from.id }}">
                                            <img src="/static/media/avatar/{{ message.customer_from.avatar }}" width="40" height="40" class="profile_image">
                                        </a>
                                    </div>
                                    {% if message.status == 'unread' %}
                                        <div class="reply-post message-box col-md-8  col-xs-10 
                                    no-padding new-msg-items" style=" background-color: #c8efff; border-color: #c8efff">
                                    {% else %}
                                        <div class="reply-post message-box col-md-8  col-xs-10 no-padding">
                                    {% endif %}
                                        <div>{{ message.content }}</div>
                                        <div style="font-size: 10px; color: #aaa; margin-top: 10px;">{{ message.date }}</div>
                                    </div>
                                {% elif message.customer_from == request.user and message.customer_to == client %}
                                    <div class="reply-post message-box col-md-8 col-md-offset-2 col-xs-10 no-padding" style="background-color: #eee;">
                                        <div>{{ message.content }}</div>
                                        <div style="font-size: 10px; color: #aaa; margin-top: 10px;">{{ message.date }}</div>
                                    </div>
                                    <div class="col-md-2 col-xs-2  no-padding" style="text-align: right;">
                                        <a href="/user_show/{{ message.customer_from.id }}">
                                            <img src="/static/media/avatar/{{ message.customer_from.avatar }}" width="40" height="40" class="profile_image">
                                        </a>
                                    </div>
                                {% endif %}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="message_count" id="message_count" value="{{ count }}" />
                            <div id="more_messages"></div>
                            <div class="row" style="margin : 30px; text-align: center;">
                                <a href="javascript: void(0)" id="show_earlier_messages">Show earlier messages</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>            
        </div>
    </div>


{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/static/star-rating/star-rating.min.js"></script>
<script src="/static/slick-1.8.0/slick/slick.min.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
<script type="text/javascript">

    setTimeout(function(){
        jQuery('.new-msg-items').css({'background-color':'white', 'border-color':'#ddd', 'transitionDuration' : '2s'});
        jQuery.ajax({
            type: 'get',
            url: '/change_status',
            data: {
                alert: 'alert',
                turnRead: 'turnRead',
                postId : {{ post.id}},
                clientId : {{ client.id }}
            },
            success: function(response) {
                $('#message-alert').html(response);
                $('#message-alert').css('display', "block");
                if (response == 0) {
                    $('#message-alert').css('display', "none");
                }
            }
        });
    }, 1000);
    

    $('.rating-input').rating({
        min: 0,
        max: 5,
        step: 0.5,
        size: 'xs',
        showClear: false,
        showCaption: false
    });

    $('.rating-owner').rating({
        min: 0,
        max: 5,
        step: 0.5,
        size: 'xs',
        showClear: false,
        showCaption: false,
        displayOnly: true
    });

    $('.rating-post').rating({
        min: 0,
        max: 5,
        step: 0.5,
        size: 'xs',
        showClear: false,
        displayOnly: true
    });

    $('.product-img').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
        asNavFor: '.product-img-nav'
    });
    $('.product-img-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.product-img',
        arrows: false,
        dots: true,
        centerMode: true,
        focusOnSelect: true,
        variableWidth: true
    });
    
    $('#send_remail').click(function() {

        var content = $('#reply-body').val().trim();
        
        if (content == '') {
            alert('Please provide some content!');
            $('#reply-body').focus();
            return;
        }

        jQuery.ajax({
            type: 'post',
            url: '/send_reply_email',
            data: {
                client_id: {{ client.id }},
                content: content,
                post_id : {{ post.id }}
            },
            success: function(data) {
                location.reload(true);
                // $('#message-history').scrollTop($('#message-history')[0].scrollHeight);
                $('#message-history').scrollTop();
            }
        });

    });

    Pusher.logToConsole = true;

    var pusher = new Pusher('febd0a7de92446f7f536', {
      cluster: 'mt1',
      forceTLS: true
    });

    var channel = pusher.subscribe('message-channel-{{client.id}}-{{me.id}}');
    channel.bind('message-event-{{client.id}}-{{me.id}}', function(data) {
      // alert(JSON.stringify(data));
        var item = '<div class="row" style="margin:15px 0px;">\
                    <div class="col-md-2 col-xs-2 no-padding" style="text-align: left">\
                        <a href="/user_show/{{ client.id }}">\
                            <img src="/static/media/avatar/{{ client.avatar }}" width="40" height="40" class="profile_image">\
                        </a>\
                    </div>\
                    <div class="reply-post message-box col-md-8  col-xs-10 no-padding new-msg-items" style=" background-color: #c8efff; border-color: #c8efff">\
                        <div>'+data.message+'</div>\
                        <div style="font-size: 10px; color: #aaa; margin-top: 10px;">'+data.date+'</div>\
                    </div>\
                    </div>'

        $('#new-msg').prepend(item);
        $('#message-history').scrollTop(0);

        setTimeout(function(){
            jQuery('.new-msg-items').css({'background-color':'white', 'border-color':'#ddd', 'transitionDuration' : '2s'});
        }, 1000);

        jQuery.ajax({
            type: 'get',
            url: '/change_status',
            data: {
                mid : data.mid
            },
            success: function(data) {
            }
        });
    });

    $('#show_earlier_messages').click(function() {
        var count = $('#message_count').val();
        jQuery.ajax({
            type: 'get',
            url: '/show_earlier_messages',
            data: {
                count : count,
                client_id : {{ client.id }},
                post_id : {{ post.id}}
            },
            success: function(data) {
                $('#message-history').scrollTop($('#message-history')[0].scrollHeight);
                $('#more_messages').append(data.more_messages);
                $('#message_count').val(data.count);
                if (data.end) {
                    $('#show_earlier_messages').css({'display' : 'none'});
                }
            }
        });
    });

    $("#to_top").click(function() {
        $('#message-history').scrollTop(0);
    });

    $('#message-history').scroll(function() {
        if ($('#message-history').scrollTop() > 200){
             $("#to_top").css({'display' : 'block'});
        }
        else {
            $("#to_top").css({'display' : 'none'});   
        }
    });

    $('#message-history').scrollTop(0);

    // $('.btn-payment').click(function() {
    //         jQuery.ajax({
    //             type: 'get',
    //             url: '/ads/{{post.id}}',
    //             data: {
    //                 // activated: true
    //             },
    //             success: function(data) {
    //             }
    //         });
    //     });

</script>

{% endblock %}