{% extends "index.html" %} 
{% load staticfiles %} 

{% block extra_css %} 
    <link rel='stylesheet' href='/static/css/faq.css' type='text/css' />
{% endblock %}

{% block extra_js %} 
    <script src="/static/js/faq.js"></script>
{% endblock %}

{% block meta_main %}
<div id="content" class="site-content"><div class="title_page">FREQU ENTLY ASKED QUESTIONS</div>
<div class="content"><ul>
<li>Do you have to add bank information in order to get paid?</li>
<div>Yes in order to get paid customer must add bank account information. Each user must add Bank Account information.</div>
</ul>
<ul>
<li>How long does a person who post ads respond?</li>
<div>The person has as much time as they want to respond to a another user.</div>
</ul>
<ul>
<li>Can post multiple adds?</li>
<div>Yes you can post multiple ads if you want.</div>
</ul>
<ul>
<li>Do i have to pay ad person right or way or hold in escrow?</li>
<div>You have the option to pay someone right away or you can hold money in the escrow.</div>
</ul>
<ul>
<li>Is my account available to use as soon as | register?</li>
<div>Yes your account is ready as soon as you register.</div>
</ul>
</div>
		</div>
{% endblock %}