{% extends "index.html" %} 
{% load staticfiles %} 

{% block extra_css %} 
    <link rel='stylesheet' href='/static/css/with-map.css' type='text/css' />
{% endblock %}


{% block page_body %}
<div class="title_page">How it works</div>
<div class="col-xs-12">
    <div class="content"><p>Create your first Ad now all you have to do is sign up create a profile, and begin looking for Ads that may catch your eye or you can create one and start getting people to respond to your ad it’s takes a few minutes and you will be part of the Global Board members.</p>
    </div>
</div>
{% endblock %}