{% extends "profile.html" %} 
{% load staticfiles %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-ads">
            <h2>My Ads</h2>
            <div class="ads_list">
                <div class="ads_add">
                    <a href="/post-ads/">
                        <div class="photo"></div>
                        <div class="text">Click to post new ad</div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 ads_search search">
                <input type="text" class="search-input ads_search_input" name="ads_search" placeholder="Search for ads name...">
            </div>
            <div class="col-md-2 ads_search">
                <input type="submit" id="search_ads" class="btn btn-info" value="Search">
            </div>
            <div class="ads_list row" id="ads_list" style="padding-left: 10px;">
            {% include '_post_list.html' %}            
            </div>
        </div>

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>
    jQuery(document).ready(function(){
        jQuery("body").on("change", ".active_deactive",function(){
            var status = jQuery(this).val();
            var ads_id = jQuery(this).data('value');
            
            jQuery.ajax({
                type: 'post',
                url: '/active_deactive_ads',
                dataType:'json',
                data: {
                    ads_id:ads_id,
                    status: status,
                },
                success: function (data) {
                }
            });
        });

        jQuery("body").on("click", ".ads_post_delete",function(){
            var r = confirm("Do you confirm to delete?");
            if (r == true) {
                var ads_id = jQuery(this).data('value');
                jQuery.ajax({
                    type: 'post',
                    url: '/delete_ads',
                    dataType:'json',
                    data: {
                        ads_id: ads_id,
                    },
                    success: function (data) {
                        location.reload();
                    }
                });
            }
            
        });

        
        jQuery('#search_ads').click(function() {
            search_ads();
        });

        jQuery('.ads_search_input').keypress(function(e) {
            var key = e.which;
            if (key == 13) {
                search_ads();
            }
        });

        function search_ads() {
            var search_val = jQuery('.ads_search_input').val();

            jQuery.ajax({
                type: 'post',
                url: '/search_ads',
                data: {
                    keyword: search_val,
                },
                success: function (data) {
                    jQuery('#ads_list').html(data);
                }
            });                     
        }
    });     
</script>

{% endblock %}