{% extends "profile.html" %} 
{% load socialaccount %}
{% load staticfiles %} 
{% load humanize %}
{% load extra %}

{% block own_css %}
<link rel='stylesheet' id='dropdown-menu-style-css' href='/static/css/my-account.css' type='text/css' media='all' /> 
<link href="/static/star-rating/star-rating.css" rel="stylesheet">
{% endblock %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-account">
            <ul class="nav nav-pills tabs">
                <li {% if tab == 'profile' %}class="active"{% endif %}><a class="tab" data-toggle="pill" href="#profile">Profile</a></li>
                <li {% if tab == 'balance' %}class="active"{% endif %}><a class="tab" data-toggle="pill" href="#balance">ID Verification</a></li>
                <li {% if tab == 'resume' %}class="active"{% endif %}><a class="tab" data-toggle="pill" href="#resume">Reviews</a></li>
                <li {% if tab == 'purchase' %}class="active"{% endif %}><a class="tab" data-toggle="pill" href="#purchase">Transactions</a></li>
            </ul>
            <div class="tab-content">
                <div id="profile" class="tab-pane fade {% if tab == 'profile' %}active in{% endif %}">
                    <div class="pages balance">
                        <form class="login form-horizontal" method="POST">
                            {% csrf_token %}
                            {% for _, error in form.errors.items %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group m-t-15">
                                <div class="col-sm-1 col-xs-5 upload-image" style="margin-bottom: 15px;">
                                    <input id="inputfile" type="file" name="files[]" data-maxfilesize="4000000" class="hidden" data-maxuploadfile="20" data-imagequality="0.7">
                                    <input type="hidden" name="uploded_id[]" class="uploded_id" />
                                    <input type="hidden" name="avatar" class="uploded_id1" value="{{ form.avatar.value }}" />
                                    <img src="/static/media/avatar/{{ user.avatar }}" class="avatar" style="width: 100px; height: 100px;">
                                </div>
                                <div class="col-sm-6 col-xs-7">
                                    <a class="btn btn-default upload-avatar" style="margin: 30px 5px 10px 24px;"><i class="fa fa-upload"></i> Upload Avatar</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_login">Username:</label>
                                <div class="col-sm-6">
                                    <input autofocus="autofocus" id="id_email" name="username" type="text" class="form-control" required value="{{ user.username }}" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_login">First Name:</label>
                                <div class="col-sm-6">
                                    <input autofocus="autofocus" id="id_email" name="first_name" type="text" class="form-control" required value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Last Name:</label>
                                <div class="col-sm-6">
                                    <input id="id_password1" name="last_name" type="text" class="input-xlarge form-control" required="" value="{{ user.last_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Gender:</label>
                                <div class="col-sm-6">
                                    <select name="gender" class="input-xlarge form-control" required="">
                                    <option {% if user.gender != 'Female' %}selected{% endif %} value="Male">Male</option>
                                    <option {% if user.gender == 'Female' %}selected{% endif %} value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">E-mail:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input autofocus="autofocus" id="id_email" name="email" type="email" class="form-control" required value="{{ user.email }}">
                                        <span class="input-group-addon">     
                                            <i class="fa fa-check c-green"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Phone:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input id="id_password1" name="phone" type="text" class="input-xlarge form-control phone_number" placeholder="+1 (212) 234 4342" value="{% if user.phone %}{{ user.phone }}{% endif %}">
                                        <span class="input-group-addon sym_phone">     
                                            {% if user.phone_verified %}
                                            <i class="fa fa-check c-green"></i>
                                            {% else %}
                                            <i class="fa fa-square-o" style="width: 14px;"></i>
                                            {% endif %}
                                        </span>
                                    </div>
                                    {% if not user.phone_verified %}
                                        <a class="btn btn-default verify_phone">Verify via SMS</a>
                                        <input type="text" class="hidden input-xlarge form-control verify_code phone" placeholder="6 digits">
                                        <a class="hidden btn btn-default verify_code">Verify</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">Stripe:</label>
                                <div class="col-sm-6">
                                    {% if stripe %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly="" value="Stripe">
                                        <span class="input-group-addon">     
                                            <i class="fa fa-check c-green"></i>
                                        </span>
                                    </div>
                                    {% else %}
                                    <a href="{% provider_login_url "stripe" process="connect" %}">
                                    <img src="/static/img/stripe.png"></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Birth Date:</label>
                                <div class="col-sm-6">
                                    <input id="id_dob" name="dob" type="text" class="input-xlarge form-control" required="" value="{% if form.dob.value %}{{ form.dob.value }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Address:</label>
                                <div class="col-sm-6">
                                    <input id="id_password1" name="address" type="text" class="input-xlarge form-control" required="" value="{% if user.address %}{{ user.address }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Description:</label>
                                <div class="col-sm-6">
                                    <textarea name="description" class="input-xlarge form-control">{% if user.description %}{{ user.description }}{% endif %}</textarea>                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_remember">Password:</label>
                                <div class="col-sm-6">
                                    <a class="btn btn-default" href="/accounts/password/change/">Change Password</a>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <button type="submit" class="primaryAction btn btn-success">Save Updates</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="balance" class="tab-pane fade {% if tab == 'balance' %}active in{% endif %}">
                    <div class="pages balance verify_section">
                        {% if not user.v_statue or user.v_statue == 'unverified' %}
                        <input id="ID_file" type="file" name="files[]" data-maxfilesize="4000000" class="hidden" data-maxuploadfile="20" data-imagequality="0.7">
                        <input type="hidden" name="uploded_id[]" class="uploded_id" />
                        <input type="hidden" name="avatar" class="uploded_id1" value="{{ form.avatar.value }}" />

                        <button class="primaryAction btn btn-danger provide_id">Provide ID</button>
                        {% elif user.v_statue == 'awaiting_approve' %}
                        <span class="primaryAction btn btn-warning">Verifing ID</span>
                        {% elif user.v_statue == 'approved' %}purchase_idpurchase_id
                        <span class="primaryAction btn btn-success">Verified</span>
                        {% endif %}
                    </div>
                </div>       
                <div id="resume" class="tab-pane fade {% if tab == 'resume' %}active in{% endif %}">
                    <div class="pages balance">
                        <div class="col-md-9 col-lg-8">
                            {% include '_review.html' %}
                        </div>
                    </div>
                </div>
                <div id="purchase" class="tab-pane fade {% if tab == 'purchase' %}active in{% endif %}">
                    <div class="pages balance">
                        <!-- <div class="rv-title pull-right">
                            Balance
                            <div class="badge" data-toggle="tooltip" data-placement="top" title=" " style="white-space: normal; font-size: 24px; margin-right: 20px;"> ${{ wallet }}</div>
                            <button type="button" class=" btn btn-md btn-success" id="btn-withdraw">Withdraw</button>
                        </div> -->
                        <div class="rv-title pull-right">
                            Balance
                            <div class="badge" data-toggle="tooltip" data-placement="top" title=" " style="white-space: normal; font-size: 24px; margin-right: 20px;">${{ wallet }}</div>
                            <button type="button" class=" btn btn-md btn-success" id="btn-withdraw">Withdraw</button>
                        </div>
                        <div class="rv-title" style="margin-top: 36px;">Pending Transactions</div>
                        <br>
                        <div class="search-form_d row form-inline filter_tx">
                            <div class="input-group  col-md-2 col-xs-12">
                                <input type="text" class="form-control" name="tx_key" placeholder="Title" id="tx_key_p">
                                <input type="hidden" name="tx_type" value="pending">
                            </div>
                            <div class="input-group col-md-2 col-xs-12">
                                <select class="input-xlarge form-control" id="tx_pm_p">
                                    <option value="">All Payment Methods</option>
                                    <option value='payid-'>Paypal</option>
                                    <option value="ch_">Stripe</option>
                                    <option value="bc_">BitCoin</option>
                                </select>
                            </div>
                            <div class="input-group col-md-2 col-xs-12" style="margin-right: 5px;">
                                <select class="input-xlarge form-control" id="tx_category_p">
                                    <option value="">All Categories</option>
                                    {% for category in category_list %}
                                        <option value="{{ category.name }}">{{category.name}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <span class="property_title">From:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="From" id="tx_start_date_p">
                            </div>
                            <span class="property_title">To:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="To" id="tx_end_date_p">
                            </div>
                            <div class="input-group col-md-1  col-xs-12 ">
                                <button type="button" class=" btn btn-md pull-right action_button" id="search_txs_p">Search</button>
                            </div>
                        </div>
                        <hr>
                        <div id="ppurchases_list">
                            {% include '_transactions_pending.html' %}    
                        </div>

                        <div class="rv-title" style="margin-top: 36px;">Completed Transactions</div>
                        <div class="search-form_d row form-inline filter_tx">
                            <div class="input-group  col-md-2 col-xs-12">
                                <input type="text" class="form-control" name="tx_key" placeholder="Title" id="tx_key_f">
                                <input type="hidden" name="tx_type" value="pending">
                            </div>
                            <div class="input-group col-md-2 col-xs-12">
                                <select class="input-xlarge form-control" id="tx_pm_f">
                                    <option value="">All Payment Methods</option>
                                    <option value='payid-'>Paypal</option>
                                    <option value="ch_">Stripe</option>
                                    <option value="bc_">BitCoin</option>
                                </select>
                            </div>
                            <div class="input-group col-md-2 col-xs-12" style="margin-right: 5px;">
                                <select class="input-xlarge form-control" id="tx_category_f">
                                    <option value="">All Categories</option>
                                    {% for category in category_list %}
                                        <option value="{{ category.name }}">{{category.name}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <span class="property_title">From:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="From" id="tx_start_date_f">
                            </div>
                            <span class="property_title">To:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="To" id="tx_end_date_f">
                            </div>
                            <div class="input-group col-md-1  col-xs-12 ">
                                <button type="button" class=" btn btn-md pull-right action_button" id="search_txs_f">Search</button>
                            </div>
                        </div>
                        <hr>
                        <div id="dpurchases_list">
                            {% include '_transactions_finished.html' %}    
                        </div>

                        <div class="rv-title" style="margin-top: 36px;">Received Transactions</div>
                        <div class="search-form_d row form-inline filter_tx">
                            <div class="input-group  col-md-2 col-xs-12">
                                <input type="text" class="form-control" name="tx_key" placeholder="Title" id="tx_key_r">
                                <input type="hidden" name="tx_type" value="pending">
                            </div>
                            <div class="input-group col-md-2 col-xs-12">
                                <select class="input-xlarge form-control" id="tx_pm_r">
                                    <option value="">All Payment Methods</option>
                                    <option value='payid-'>Paypal</option>
                                    <option value="ch_">Stripe</option>
                                    <option value="bc_">BitCoin</option>
                                </select>
                            </div>
                            <div class="input-group col-md-2 col-xs-12" style="margin-right: 5px;">
                                <select class="input-xlarge form-control" id="tx_category_r">
                                    <option value="">All Categories</option>
                                    {% for category in category_list %}
                                        <option value="{{ category.name }}">{{category.name}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <span class="property_title">From:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="From" id="tx_start_date_r">
                            </div>
                            <span class="property_title">To:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="To" id="tx_end_date_r">
                            </div>
                            <div class="input-group col-md-1  col-xs-12 ">
                                <button type="button" class=" btn btn-md pull-right action_button" id="search_txs_r">Search</button>
                            </div>
                        </div>
                        <hr>
                        <div id="rpurchases_list">
                            {% include '_transactions_received.html' %}    
                        </div>

                        <div class="rv-title" style="margin-top: 36px;">Cancelled Transactions</div>
                        <div class="search-form_d row form-inline filter_tx">
                            <div class="input-group  col-md-2 col-xs-12">
                                <input type="text" class="form-control" name="tx_key" placeholder="Title" id="tx_key_c">
                                <input type="hidden" name="tx_type" value="pending">
                            </div>
                            <div class="input-group col-md-2 col-xs-12">
                                <select class="input-xlarge form-control" id="tx_pm_c">
                                    <option value="">All Payment Methods</option>
                                    <option value='payid-'>Paypal</option>
                                    <option value="ch_">Stripe</option>
                                    <option value="bc_">BitCoin</option>
                                </select>
                            </div>
                            <div class="input-group col-md-2 col-xs-12" style="margin-right: 5px;">
                                <select class="input-xlarge form-control" id="tx_category_c">
                                    <option value="">All Categories</option>
                                    {% for category in category_list %}
                                        <option value="{{ category.name }}">{{category.name}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <span class="property_title">From:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="From" id="tx_start_date_c">
                            </div>
                            <span class="property_title">To:</span>
                            <div class="input-group col-md-1 col-xs-12">
                                <input type="Date" class="input-xlarge form-control " placeholder="To" id="tx_end_date_c">
                            </div>
                            <div class="input-group col-md-1  col-xs-12 ">
                                <button type="button" class=" btn btn-md pull-right action_button" id="search_txs_c">Search</button>
                            </div>
                        </div>
                        <hr>
                        <div id="cpurchases_list">
                            {% include '_transactions_cancelled.html' %}    
                        </div>

                    </div>
                </div>                         
            </div>
        </div>      

    </div>

    <div id="result-modal" class="modal fade perk-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Purchase an Item</h4>
          </div>
        <form class="rate-form">
        <div class="modal-body" style="font-size: 16px; line-height: 22px;">
            <div class="well">
                <p>Thank you for purchasing "<span id="post_title">{{ result }}</span>"</p> 
                {# <p>Transaction ID: <span id="transaction_id">{{ result }}</span></p> <p>Title: </p> #}
                
                <p style="margin-top: 15px;">You have 30 days to review this user.</p>
            </div>
                <h4>Please rate the item</h4>
                <div style="padding: 10px 0;">
                    <input class="rating-input" name="rating" type="text" title="" value="5"/>
                </div>
                <div class="form-group">
                    <label style="margin-top: 16px;margin-bottom: 7px;">Leave Review</label>
                    <textarea class="form-control" name="content" rows=4 required=""></textarea>
                </div>            
                <input type="hidden" name="post_id" class="post-id">
                <input type="hidden" name="purchase_id" class="purchase-id">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn" style="background-color: #4DBEE2; color: white" id="btn-rate">Rate</button>
          </div>
        </form>
        </div>

      </div>
    </div> 

    <div id="rating-modal" class="modal fade perk-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cancelled an Item</h4>
          </div>
        <form class="rate-form">
        <div class="modal-body" style="font-size: 16px; line-height: 22px;">
            <div class="well">
                <p>You have 30 days to review the user.</p>
            </div>
                <h4>Please rate the item</h4>
                <div style="padding: 10px 0;">
                    <input class="rating-input" name="rating" type="text" title="" value="5"/>
                </div>
                <div class="form-group">
                    <label style="margin-top: 16px;margin-bottom: 7px;">Leave Review</label>
                    <textarea class="form-control" name="content" rows=4 required=""></textarea>
                </div>            
                <input type="hidden" id="r_post_id" name="post_id" value="{{ post.id }}">
                <input type="hidden" id="r_purchase_id" name="purchase_id" value="{{ purchase.id }}">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn" style="background-color: #4DBEE2; color: white" id="btn-rate">Rate</button>
          </div>
        </form>
        </div>

      </div>
    </div>


    <div id="release-modal" class="modal fade perk-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Verify amount to be released from escrow</h4>
          </div>
        <form id="release-form">
          <div class="modal-body" style="font-size: 16px; line-height: 22px;">
            <div class="well" style="line-height: 24px;">
                <p>Title: <span class="post_title"></span></p>
                <br>
                <p>Total Price: $<span class="ptotal-price">89.99</span></p>
                <p>Service Fee: <span class="total-service-fee">89.99</span></p>
                <hr class="min-hr">
                <p>Paid Amount: <span class="ppaid-amount">$30</span> ( <span class="ppaid-percent">25%</span> )</p>
                {# <p>Transaction: <span class="plast-transaction"></span></p> #}
            </div>
                <h4>Release Amount</h4>
                <div style="padding: 10px 0;">
                    <select name="release-amount" class="input-xlarge form-control release-amount">
                        <option>10 %</option>
                        <option>20 %</option>
                        <option>30 %</option>
                    </select>
                </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn" style="background-color: #4DBEE2; color : white;" id="btn-release-confirm">Continue</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>

      </div>
    </div>      

    <div id="cancel-modal" class="modal fade perk-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span style="color: red;">Cancel</span> the transaction from escrow</h4>
          </div>
        <form id="cancel-form">
          <div class="modal-body" style="font-size: 16px; line-height: 22px;">
            <div class="well" style="line-height: 24px;">
                <p>Title: <span class="post_title"></span></p>
                <br>
                <p>Total Price: $<span class="ptotal-price">89.99</span></p>
                <p>Service Fee: <span class="total-service-fee">89.99</span></p>
                <hr class="min-hr">
                <p>Paid Amount: <span class="ppaid-amount">$30</span> ( <span class="ppaid-percent">25%</span> )</p>
                <hr class="min-hr">
                <p>Refunds: <span class="refunds"></span></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn" style="background-color: #4DBEE2; color : white; " id="btn-cancel-confirm">Continue</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
      </div>
    </div> 
    
    <div id="pay-method-modal" class="modal fade perk-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Choose Payment Method</h4>
          </div>
        <form id="withdraw-form">
          <div class="modal-body" style="font-size: 16px; line-height: 22px;">
            <div class="row well" style="line-height: 24px; margin: 0px;">
                <div class="" style="padding: 12px;">
                    <div class="form-group row">
                        <label class="control-label col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-1" for="withdraw_amount" style="margin-top: 5px; padding: 0px;">Amount  $</label>
                        <div class="col-md-6 col-xs-6">
                            <input type="number" class="form-control" name="withdraw_amount" min="0" placeholder="" id="withdraw_amount" value={{ wallet }}>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="padding: 10px; margin-bottom: 0px;">
                    <div type="button" class="btn col-md-4 col-xs-12" id="btn-pay-stripe"><img src="/static/img/stripe_logo.png" width="80" height="25"></div>
                    <!-- <span id='lippButton' class="col-md-5"></span> -->
                    <div type="button" class="btn col-md-4 col-xs-12" id="btn-pay-paypal"><img src="/static/img/paypal_logo.png" width="100" height="25" ></div>
                    <div type="button" class="btn col-md-4 col-xs-12" id="btn-pay-bitcoin"><img src="/static/img/bitcoin_logo.png" width="100" height="20"></div>
                </div>

                <div id="paypal_email_section" name="paypal_email_section" style="border-top: 1px solid #ddd; display: none;">
                    <div class="form-group row" style="margin: 20px 0px 5px 0px;">
                        <label class="control-label col-md-3 col-xs-3" for="withdraw_amount" style="margin-top: 5px; padding: 5px;">Paypal Email</label>
                        <div class="col-md-6 col-xs-9" style="padding: 5px">
                            <input type="email" class="form-control" name="paypal_email" min="0" placeholder=""
                            id="paypal_email">
                        </div>
                        <button type="button" class="btn col-md-3 col-xs-12" style="background-color: #4DBEE2; color : white; padding: 5px; margin-top: 5px;" id="btn-pay-method-confirm">Continue</button>
                    </div>
                </div>
                <div id="bitcoin_section" name="bitcoin_section" style="border-top: 1px solid #ddd; display: none;">
                    <div class="form-group row" style="margin: 20px 0px 5px 0px;">
                        <label class="control-label col-md-2 col-xs-3" for="withdraw_amount" style="margin-top: 5px; padding: 5px">Address</label>
                        <div class="col-md-7 col-xs-9" style="padding: 5px">
                            <input type="text" class="form-control" name="bitcoin_address" min="0" placeholder=""
                            id="bitcoin_address">
                        </div>
                        <button type="button" class="btn col-md-3 col-xs-12" style="background-color: #4DBEE2; color : white; padding: 5px; margin-top: 5px;" id="bitcoin-pay-method-confirm">Continue</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script src="/static/star-rating/star-rating.min.js"></script>
<!-- <script src='https://www.paypalobjects.com/js/external/api.js'></script> -->
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
    var purchase_id = '{{ request.GET.pid }}', post_id;

    // paypal.use( ['login'], function (login) {
    //   login.render ({
    //     "appid": '{{ paypal_client }}',
    //     "authend":"sandbox",
    //     "scopes":"openid",
    //     "containerid":"lippButton",
    //     "locale":"en-us",
    //     "returnurl":'http://localhost:8000/'
    //   });
    // });

    var handler = StripeCheckout.configure({
        key: '{{ skey }}',
        locale: 'auto',
        token: function(token) {
            $('#stripe_token').val(token.id);
            jQuery.ajax({
                type: 'post',
                url: '/withdraw_money',
                data: {
                        stripe_token: token.id
                    },
                success: function (data) {
                    alert('withdrawn Successfully');
                }
            }); 
        }
    });

    $('#btn-pay-stripe').on('click', function(e) { 
        $('#paypal_email_section').css("display", "none");
        $('#bitcoin_section').css("display", "none");
        // {
        //     handler.open({
        //         name: "Globalboard",
        //         description: "{{ post.title }}",
        //         currency: "usd",
        //         amount: 500
        //     });
        //     e.preventDefault();
        // }
        amount = $('#withdraw_amount').val();
        if (amount == '') {
            alert('Input the amount');
        }
        else if ( parseInt(amount) > {{ wallet }}) {
            alert('No balance enough');
        }
        else{
            var r = confirm("Do you confirm to withdraw money via stripe?");
            if (r == true){
                jQuery.ajax({
                        type: 'post',
                        url: '/withdraw_money',
                        data: {
                                amount : amount,
                                payment_method : 'stripe'
                            },
                        success: function (data) { 
                            alert(data.message);
                            location.href = '/my-account?tab=purchase';
                        }
                    }); 
            }
        }
    });

    $('#btn-pay-bitcoin').on('click', function(e) { 
        $('#paypal_email_section').css("display", "none");
        $('#bitcoin_section').css("display", "block");
    });

    $('#btn-pay-paypal').on('click', function(e) { 
        // {
        //     handler.open({
        //         name: "Globalboard",
        //         description: "{{ post.title }}",
        //         currency: "usd",
        //         amount: 500
        //     });
        //     e.preventDefault();
        // }
        $('#paypal_email_section').css("display", "block");
        $('#bitcoin_section').css("display", "none");

    });

    $('#btn-pay-method-confirm').click(function(){
        amount = $('#withdraw_amount').val();
        email = $('#paypal_email').val();
        if (amount == '') {
            alert('Input the amount, please');
        }
        else if ( parseInt(amount) > {{ wallet }}) {
            alert('No balance enough');
        }
        else if ( !email || email == '') {
            alert('Input the Paypal email, please');
        }
        else{
            var r = confirm("Do you confirm to withdraw money via paypal?");
            if (r == true){
                jQuery.ajax({
                    type: 'post',
                    url: '/withdraw_money',
                    data: {
                            amount : amount,
                            payment_method : 'paypal',
                            email : email
                        },
                    success: function (data) {
                        alert(data.message);
                        $('#pay-method-modal').modal('hide');
                        $('#paypal_email_section').css("display", "none");
                        location.href = '/my-account?tab=purchase';
                    }
                }); 
            }
        }
    });

    $('#bitcoin-pay-method-confirm').click(function(){
        amount = $('#withdraw_amount').val();
        address = $('#bitcoin_address').val();
        if (amount == '') {
            alert('Input the Address, please');
        }
        else if ( parseInt(amount) > {{ wallet }}) {
            alert('No balance enough');
        }
        else if ( !address || address == '') {
            alert('Input the Address, please');
        }
        else{
            var r = confirm("Do you confirm to withdraw money via bitcoin?");
            if (r == true){
                jQuery.ajax({
                    type: 'post',
                    url: '/withdraw_money',
                    data: {
                            amount : amount,
                            payment_method : 'bitcoin',
                            address : address
                        },
                    success: function (data) {
                        alert(data.message);
                        $('#pay-method-modal').modal('hide');
                        $('#bitcoin_section').css("display", "none");
                        location.href = '/my-account?tab=purchase';
                    }
                }); 
            }
        }
    });


    $('.rating-input').rating({
        min: 0,
        max: 5,
        step: 0.5,
        size: 'xs',
        showClear: false,
        showCaption: false
    });

    $('#rating-owner').rating({
        min: 0,
        max: 5,
        step: 0.5,
        size: 'xs',
        showClear: false,
        displayOnly: true
    });

    jQuery(document).ready(function() {

        jQuery('#search_txs_p').click(function(e) {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'pending' ,
                        tx_key: $('#tx_key_p').val(),
                        tx_payment_method: $('#tx_pm_p').val(),
                        tx_category: $('#tx_category_p').val(),
                        tx_start_date: $('#tx_start_date_p').val(),
                        tx_end_date: $('#tx_end_date_p').val()
                    },
                success: function (data) {
                    jQuery('#ppurchases_list').html(data);
                }
            });                     
        });

        jQuery('#tx_pm_p, #tx_category_p, #tx_start_date_p, #tx_end_date_p').change(function(e) {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'pending' ,
                        tx_key: $('#tx_key_p').val(),
                        tx_payment_method: $('#tx_pm_p').val(),
                        tx_category: $('#tx_category_p').val(),
                        tx_start_date: $('#tx_start_date_p').val(),
                        tx_end_date: $('#tx_end_date_p').val()
                    },
                success: function (data) {
                    jQuery('#ppurchases_list').html(data);
                }
            });                     
        });

        // jQuery('#tx_key_p').keypress(function(e) {
        //     var key = e.which;
        //     if (key == 13) {
        //         jQuery.ajax({
        //         type: 'get',
        //         url: '/search-txs',
        //         data: {
        //                 tx_type: 'pending' ,
        //                 tx_key: $('#tx_key_p').val()
        //             },
        //         success: function (data) {
        //             jQuery('#ppurchases_list').html(data);
        //         }
        //     });   
        //     }
        // });

        jQuery('#search_txs_f').click(function() {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'finished' ,
                        tx_key: $('#tx_key_f').val(),
                        tx_payment_method: $('#tx_pm_f').val(),
                        tx_category: $('#tx_category_f').val(),
                        tx_start_date: $('#tx_start_date_f').val(),
                        tx_end_date: $('#tx_end_date_f').val()
                    },
                success: function (data) {
                    jQuery('#dpurchases_list').html(data);
                }
            });                     
        });

        jQuery('#tx_pm_f, #tx_category_f, #tx_start_date_f, #tx_end_date_f').change(function(e) {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'finished' ,
                        tx_key: $('#tx_key_f').val(),
                        tx_payment_method: $('#tx_pm_f').val(),
                        tx_category: $('#tx_category_f').val(),
                        tx_start_date: $('#tx_start_date_f').val(),
                        tx_end_date: $('#tx_end_date_f').val()
                    },
                success: function (data) {
                    jQuery('#dpurchases_list').html(data);
                }
            });                     
        });

        jQuery('#search_txs_c').click(function() {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'cancelled' ,
                        tx_key: $('#tx_key_c').val(),
                        tx_payment_method: $('#tx_pm_c').val(),
                        tx_category: $('#tx_category_c').val(),
                        tx_start_date: $('#tx_start_date_c').val(),
                        tx_end_date: $('#tx_end_date_c').val()
                    },
                success: function (data) {
                    jQuery('#cpurchases_list').html(data);
                }
            });                     
        });

        jQuery('#tx_pm_c, #tx_category_c, #tx_start_date_c, #tx_end_date_c').change(function(e) {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'cancelled' ,
                        tx_key: $('#tx_key_c').val(),
                        tx_payment_method: $('#tx_pm_c').val(),
                        tx_category: $('#tx_category_c').val(),
                        tx_start_date: $('#tx_start_date_c').val(),
                        tx_end_date: $('#tx_end_date_c').val()
                    },
                success: function (data) {
                    jQuery('#cpurchases_list').html(data);
                }
            });                     
        });

        jQuery('#search_txs_r').click(function() {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'received' ,
                        tx_key: $('#tx_key_r').val(),
                        tx_payment_method: $('#tx_pm_r').val(),
                        tx_category: $('#tx_category_r').val(),
                        tx_start_date: $('#tx_start_date_r').val(),
                        tx_end_date: $('#tx_end_date_r').val()
                    },
                success: function (data) {
                    jQuery('#rpurchases_list').html(data);
                }
            });                     
        });

        jQuery('#tx_pm_r, #tx_category_r, #tx_start_date_r, #tx_end_date_r').change(function(e) {
            jQuery.ajax({
                type: 'get',
                url: '/search-txs',
                data: {
                        tx_type: 'received' ,
                        tx_key: $('#tx_key_r').val(),
                        tx_payment_method: $('#tx_pm_r').val(),
                        tx_category: $('#tx_category_r').val(),
                        tx_start_date: $('#tx_start_date_r').val(),
                        tx_end_date: $('#tx_end_date_r').val()
                    },
                success: function (data) {
                    jQuery('#rpurchases_list').html(data);
                }
            });                     
        });



        $('#result-modal').on('hidden.bs.modal', function () {
            location.href = '/my-account?tab=purchase';
        });

        $('.rate-form').submit(function(e) {
            e.preventDefault();
            jQuery.ajax({
                type: 'post',
                url: '/rate_ads',
                data: $(this).serialize(),
                success: function(res) {
                    alert('Thank you for your rating.');
                    $('#rating-modal').modal('hide');
                    location.href = '/my-account?tab=purchase';
                }
            }); 
        });


        $('#withdraw-form').submit(function(e) {
            // if ( $('#withdraw_amount').val() != '') {
            if ( $('input[name="paymethod"]:checked')[0].value == 'stripe' ) 
                {
                    e.preventDefault();
                    jQuery.ajax({
                        type: 'post',
                        url: '/withdraw_money',
                        data: $(this).serialize(),
                        success: function(res) {
                            $('#pay-method-modal').modal('hide');
                        }
                    });
                }
            else {
                alert('Sorry, We have only stripe method now.')
            }
            // location.href = '/my-account?tab=purchase';
            // else {
            //     alert('Please input the amount.')    
            // }
        });

        jQuery("body").on("click", ".btn-rate-later", function() {
            $('#transaction_id').html($(this).data('transaction'));
            $('.post-id').val($(this).data('post-id'));
            $('.purchase-id').val($(this).data('id'));
            $('#result-modal').modal();
        });

        $('#release-form').submit(function(e) { 
            e.preventDefault();
            var r = confirm("Do you confirm to release?");
            var percent = $('.release-amount').val();

            if (r == true) {
                jQuery.ajax({
                    type: 'post',
                    url: '/release_purchase',
                    data: {
                        p_id: purchase_id,
                        percent: percent
                    },
                    success: function(res) {
                        $('#release-modal').modal('toggle');
                        if (res.message != '') {
                            alert(res.message);
                        }
                        else
                        {
                            if (res.finished) {
                                $('#transaction_id').html(res.transaction);
                                $('#post_title').html(post_title);
                                $('.post-id').val(post_id);
                                $('.purchase-id').val(purchase_id);
                                $('#result-modal').modal();
                            } else {
                                alert('Thank you for your payment.');
                                location.href = '/my-account?tab=purchase';
                            }
                        }
                    }
                });
            }            
        });


        $('#cancel-form').submit(function(e) { 
            e.preventDefault();
            var r = confirm("Do you confirm to cancel?");
            if (r == true) {
                jQuery.ajax({
                    type: 'post',
                    url: '/cancel_purchase',
                    data: {
                        post_id: post_id,
                        purchase_id: purchase_id
                    },
                    success: function(res) {
                        $('#cancel-modal').modal('hide');
                        $('#r_post_id').val(post_id);
                        $('#r_purchase_id').val(purchase_id);
                        $('#rating-modal').modal();
                    }
                });
            } 
        });

        // purchase / release management
        $(".btn-release").click(function() {
            var amount = $(this).data('amount'),
                app_fee = $(this).data('app-fee'),
                app_fee_buy = $(this).data('app-fee-buy'),
                transaction = $(this).data('transaction'),
                percent = $(this).data('percent'),
                htmlPercents = '';
                post_title = $(this).data('post-title'),
                service_fee = '$'+( app_fee_buy * amount * percent / 100).toFixed(2),
                total_service_fee = '$'+( app_fee_buy * amount ).toFixed(2),

            purchase_id = $(this).data('id');
            post_id = $(this).data('post-id');

            $('.ptotal-price').html(amount);
            $('.plast-transaction').html(transaction);
            $('.ppaid-amount').html('$'+(amount * percent / 100).toFixed(2));
            $('.ppaid-percent').html(percent+'%');
            $('.post_title').html(post_title);
            $('.service-fee').html(service_fee);
            $('.total-service-fee').html(total_service_fee);

            for (i = 10; i <= 100-parseInt(percent); i+=10) {
                htmlPercents += "<option value='"+i+"'>"+i+" %</option>";
            }

            $('.release-amount').html(htmlPercents);
            $('#release-modal').modal();
        });

        $(".btn-cancelled").click(function() {
            var amount = $(this).data('amount'),
                app_fee = $(this).data('app-fee'),
                app_fee_buy = $(this).data('app-fee-buy'),
                transaction = $(this).data('transaction'),
                percent = $(this).data('percent'),
                htmlPercents = '';
                post_title = $(this).data('post-title'),
                service_fee = '$'+( app_fee_buy * amount * percent / 100).toFixed(2),
                total_service_fee = '$'+( app_fee_buy * amount ).toFixed(2),
                refunds = '$'+( amount * (100-percent) / 100).toFixed(2);

            purchase_id = $(this).data('id');
            post_id = $(this).data('post-id');

            $('.ptotal-price').html(amount);
            $('.plast-transaction').html(transaction);
            $('.ppaid-amount').html('$'+(amount * percent / 100).toFixed(2));
            $('.ppaid-percent').html(percent+'%');
            $('.post_title').html(post_title);
            $('.service-fee').html(service_fee);
            $('.total-service-fee').html(total_service_fee);
            $('.refunds').html(refunds);
            $('#cancel-modal').modal();
        });


        $("#btn-withdraw").click(function() {
            $('#pay-method-modal').modal();
        });

        $(".btn-finished").click(function() {
            alert('The details will be added soon.')
        });

        $(".btn-received").click(function() {
            alert('The details will be added soon.')
        });

        $(".btn-deleted").click(function() {
            alert('The details will be added soon.')
        });

        // profile management        
        jQuery("body").on("click", ".upload-avatar", function() {
            jQuery("#inputfile").click();
        });

        jQuery("body").on("click", ".provide_id", function() {
            jQuery("#ID_file").click();
        });

        jQuery("#inputfile").change(function() {
            var fd = new FormData();
            var file = this.files;
            fd.append("images", file[0]);
            fd.append('type', 'avatar');

            jQuery.ajax({
                type: 'POST',
                url: '/upload-image',
                data: fd,
                contentType: false,
                dataType: "json",
                processData: false,
                success: function(response) {
                    jQuery(".upload-image").find('input[class="uploded_id"]').val(response.image_name);
                    jQuery(".upload-image").find('input[class="uploded_id1"]').val(response.image_name);
                    jQuery(".avatar").attr('src', response.image_url);
                }
            });
        });

        jQuery("#ID_file").change(function() {
            var fd = new FormData();
            var file = this.files;
            fd.append("images", file[0]);
            fd.append('type', 'ID');

            jQuery.ajax({
                type: 'POST',
                url: '/upload-image',
                data: fd,
                contentType: false,
                dataType: "json",
                processData: false,
                success: function(response) {
                    jQuery.ajax({
                        type: 'post',
                        url: '/upload_id',
                        data: {
                            id_photo: response.image_name
                        },
                        success: function(res) {
                            jQuery(".verify_section").html('<span class="primaryAction btn btn-warning">Verifing ID</span>');
                        }
                    });            

                }
            });
        });

        $('.verify_phone').click(function() {
            var phone_number = $('.phone_number').val();
            if (!phone_number) {
                alert('Enter phone number!');
                $('.phone_number').focus();
                return false;
            }

            jQuery.ajax({
                type: 'post',
                url: '/send_vcode',
                data: {
                    phone: phone_number
                },
                success: function(res) {
                    if (res == 'success') {
                        $('.verify_code').toggleClass('hidden');
                        $('.verify_phone').toggleClass('hidden');                        
                    } else {
                        alert('Please input correct phone number!');
                        $('.phone_number').focus();
                    }
                }
            });            

        });

        $('.btn.verify_code').click(function() {
            var vcode = $('.verify_code.phone').val();
            if (!vcode) {
                alert('Put 6 digits verification code.');
                $('.verify_code.phone').focus();
                return false;
            }

            jQuery.ajax({
                type: 'post',
                url: '/verify_phone',
                data: {
                    vcode: vcode
                },
                success: function(res) {
                    if (res == 'success') {
                        $('.verify_code').toggleClass('hidden');
                        $('.sym_phone').html('<i class="fa fa-check c-green"></i>');
                    } else {
                        alert('Verification failed!');
                    }
                }
            });            
        });

        $('#id_dob').datetimepicker({
            format: 'MM/DD/YYYY'
        });

        if (purchase_id) {
            $('.brp-'+purchase_id).click();
        }

    });
</script>

{% endblock %}
