{% extends "index.html" %} 
{% load staticfiles %} 

{% block extra_css %} 
    <link rel='stylesheet' href='/static/css/with-map.css' type='text/css' />
{% endblock %}


{% block meta_main %}
<div class="title_page">Terms of use</div>
<div class="col-xs-12">
<div class="content"><div style="text-align: justify;">Global Board is a platform for finding goods and services from anywhere around the world.  You can browse on your own or sign up to receive notifications about the products and services of interest.  By using this platform as a mediator for conducting business, you agree to these terms of use. Use: The advertisement content on Global Board is the sole responsibility of the entity that posts.  We do reserve the right to remove or refuse to display content that we reasonably believe violates the law or is otherwise inappropriate.</div>
<div style="text-align: justify;">However, please do not assume that we review content posted on our site. Providers and buyers must comply with local laws and regulations including any export and re-export control laws and regulations, taxes, tariffs or duties where applicable. Global Board is NOT responsible for the condition of products or quality of services acquired through our servers and website.
</div>
</div>
</div>
<div class="title_page">Privacy Policy</div>
<div class="col-xs-12">
<div class="content">
<p>These Rules Apply Internally as well.</p>
<p style="margin: 12px 0;">Last Revised: January 26, 2018</p>

<p style="margin: 12px 0;">Acceptance of Privacy Policy</p>

Each time you use Global Board World you demonstrate that you accept the current privacy policy at the time. If you fail to accept this privacy policy, you are not authorized to use the website and must cease use immediately.

<p style="margin: 12px 0;">Use of Personal Information</p>

Each time you interact with our website, we gather personal information about you eg.
First and last name, email address, credit or debit card number, telephone numbers, billing and shipping information, order history web log data, and other non-public information about you.<br><br>

Data on Global Board is kept as required for business purposes /or in compliance with the law.
There are no guarantees as to our data security however we employ all possible means to safeguard your personal information.
<br><br>
Global Board World will disclose Users data to vendors and service providers, court orders / legal process, sale or transfer of assets, mergers, bankruptcy, etc.
</div>
</div>
{% endblock %}