{% extends "index.html" %} 
{% load staticfiles %} 

{% block extra_css %} 
    <link rel='stylesheet' href='/static/css/with-map.css' type='text/css' />
{% endblock %}


{% block page_body %}
<div class="title_page">Why Use</div>
<div class="col-xs-12">
	<div class="content"><p>We monitor requests and postings of goods and services and send alerts to save you time.  Sign up to receive notifications, and we will do the rest. The user can get direct access to real on demand Ads for good and services.</p>
	</div>
</div>
{% endblock %}