{% extends "index.html" %} 
{% load staticfiles %} 

{% block extra_css %} 
    <link rel='stylesheet' href='/static/css/with-map.css' type='text/css' />
{% endblock %}


{% block meta_main %}
<div class="title_page">why use global board</div>
<div class="col-xs-12">
	<div class="why_blocks">
    	<div class="why_block">
        	<div class="why_block_img"></div>
            <div class="why_block_text">This is a great opportunity for people who offer services and products to people who are looking for that particular service or product. Both parties win when they use Global Board because as a freelancer you can display your work and a customer can have access to it and pay for your services. </div>
        </div>
        <div class="why_block">
        	<div class="why_block_img"></div>
            <div class="why_block_text">With Global Board you can narrow the target of your ad to a specific location therefore you dont have to worry about not reaching the wrong customer. If you are a freelancer looking for someone in your area the filter are there to reach your audience.</div>
        </div>
        <div class="why_block">
        	<div class="why_block_img"></div>
            <div class="why_block_text"> We wanted our users to use a mobile friendly website that people can navigate through seamlessly. Our simple solution for users to find work, post work, and so many more innovating ways to use this site will give users a new platform to connect with quality people. </div>
        </div>
        <div class="why_block">
        	<div class="why_block_img"></div>
            <div class="why_block_text">People are tired of using old sites that don't have real connecting service or product providers. With Global Board looking at someone's profile and being able to see their reviews makes the decision to connect with them much easier.  </div>
        </div>
    </div>
</div>
{% endblock %}