{% load extra %}
<div class="row">
    <div class="col-md-3">
        <div class="form-group edit-profile">
            <label>Cryptocurrency ok</label>
            <input type="checkbox" name="cryptocurrency_ok" class="edit-post-wrap" style="display: block;" {% if post.cryptocurrency_ok %} checked="" {% endif %}>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group edit-profile">
            <label>Include "more ads by this user" link</label>
            <input type="checkbox" name="include_ads" class="edit-post-wrap" style="display: block;" {% if post.include_ads %} checked="" {% endif %}>
        </div>
    </div>
</div>
