<div class="row">
    <div class="col-md-6" style="margin-bottom: 15px;">
        <div class="checkbox">
            <label>
                <input type="checkbox" style="margin-top: -2px;" {% if post.licensed %}checked{% endif %} name="licensed">Licensed
            </label>
        </div>
    </div>    
    <div class="col-md-12">
        <div class="form-group edit-profile">
            <input type="text" name="description" class="form-control edit-post-wrap" placeholder="" required value="{{ post.description }}" />
        </div>
    </div>
</div>
